body {
  font-family: Noto Sans, sans-serif;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(15, 13, 13, 1);
}

.main-container {
  background-color: rgba(15, 13, 13, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  padding: 10px 0 83px;
}

.header-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  font-family: Noto Sans, sans-serif;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo-container {
  display: flex;
  gap: 22px;
  font-size: 38px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  align-items: center;
}
.custom-form{
  display: flex;
  flex-direction: column;
  align-items: center
  
}
.google-oauth-button{
  text-wrap: nowrap;
  color: white;
}
.logo {
  height: 50px;
  /* aspect-ratio: 1.45; */
  object-fit: contain;
  object-position: center;
}

.brand-name {
  margin: auto 0;
}

.nav-container {
  align-self: start;
  display: flex;
  margin-top: 4px;
  gap: 32px;
  font-size: 21px;
  color: rgba(239, 239, 238, 1);
}

.nav-link {
  margin: auto 0;
  height: 100%;
  align-self: center;
}

.account-btn {
  border-radius: 35px;
  background-color: rgba(133, 174, 98, 1);
  text-align: center;
  padding: 26px 28px;
  align-self: center;
  cursor: pointer;
  color: #EFEFEE;
}

.divider {
  align-self: stretch;
  min-height: 3px;
  margin-top: 9px;
  width: 100%;
  border: 3px solid rgba(30, 30, 30, 1);
}

.content-wrapper {
  margin-top: 89px;
  width: 100%;
  max-width: 1589px;
}

.hero-section {
  gap: 20px;
  display: flex;
  width: 95%
}

.hero-text {
  display: flex;
  flex-direction: column;
  line-height: normal;
  padding-left: 25px;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-family: Noto Sans, sans-serif;
  margin: auto 0;
}

.hero-title {
  color: rgba(239, 239, 238, 1);
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
}

.accent-text {
  color: rgba(166, 120, 97, 1);
}

.hero-description {
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-weight: 400;
  margin-top: 44px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 20px;
}

.dropzone {
  border-radius: 15px;
  background-color: rgba(196, 181, 174, 0.1);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Noto Sans, sans-serif;
  color: rgba(239, 239, 238, 0.2);
  font-weight: 400;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 97px 80px;
  border: 3px dashed rgba(95, 72, 61, 1);
}

.upload-content {
  display: flex;
  width: 438px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 95px;
}

.upload-text {
  font-size: 38px;
  align-self: stretch;
  margin-top: 41px;
}

.browse-btn {
  border-radius: 35px;
  max-width: 100%;
  font-size: 22px;
  cursor: pointer;
  text-wrap: nowrap;
}

.gallery-header {
  display: flex;
  width: 95%;
  font-family: Noto Sans, sans-serif;
  color: rgba(239, 239, 238, 1);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.gallery-title {
  font-size: 38px;
  font-weight: 700;
}

.gallery-link {
  font-size: 21px;
  font-weight: 400;
  text-align: right;
  margin-left: auto;
  cursor: pointer;
  text-decoration:none;
  align-self: flex-end;
}

.gallery-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
}

.gallery-image {
  aspect-ratio: 1.99;
  object-fit: contain;
  object-position: center;
  margin: 20px;
  width: 25%;
  border-radius: 15px;
  flex-grow: 1;
}
.gallery-top{
  margin-left: 40px;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .header-wrapper {
    max-width: 100%;
  }

  .logo-container {
    white-space: initial;
  }

  .account-btn {
    padding: 0 20px;
  }

  .divider {
    max-width: 100%;
  }

  .content-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }

  .hero-section {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .hero-text {
    width: 100%;
  }

  .text-content {
    max-width: 100%;
    margin-top: 40px;
  }

  .hero-title {
    max-width: 100%;
    font-size: 40px;
    line-height: 49px;
  }

  .hero-description {
    max-width: 100%;
    margin-top: 40px;
  }

  .upload-section {
    width: 100%;
  }

  .dropzone {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }

  .upload-text {
    max-width: 100%;
    margin-top: 40px;
  }

  .browse-btn {
    padding: 0 20px;
  }

  .gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
    max-width: 100%;
    margin-top: 20px;
  }

  .gallery-container {
    max-width: 100%;
  }

  .gallery-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .gallery-item {
    width: 100%;
  }

  .gallery-image {
    max-width: 100%;
    margin-top: 40px;
  }

  .hexcodenames {
    font-family: Noto Sans, sans-serif;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .my-palettes-btn {
      font-family: Noto Sans, sans-serif;
      color: #EFEFEE !important;  
      background: none !important;  
      border: none !important;
      cursor: pointer;
      
  }

  .num-color-label {
    font-family: Noto Sans, sans-serif;
    font-size: '20px';
    
  }

}

/*PALETTLE GEN STUFF*/
#paletteContainer {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin-top: 100px;
}

#topText {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0px 15px 5px 15px;
  justify-content: space-between;
}

#replaceimage {
  display: flex;
  gap: 10px;
  align-items: center;
}

#savepal {
  display: flex;
  gap: 10px;
  align-items: center;
}

.paltop {
  font-weight: 100;
  font-size: 1.5rem;
  font-family: Noto Sans, sans-serif;
  color: rgba(239, 239, 238, 1);
}

Link {
  text-decoration: none;
}

#imagepalgen {
  max-width: 100%;
  height: auto;
  display: block;
  margin:0 auto;
  border-radius: 10px;
  background-color: white;
}

.password-change {
  font-family: Noto Sans, sans-serif;
}

#colours {
  margin: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;

  .colour {
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80px;
    width: 25%;
    background-color: #FFF;
  }
  .hexcodenames{
    font-family: Noto Sans, sans-serif;
    text-weight: 900;
    color: rgba(239, 239, 238, 1);
    text-align: center;
  }
}